body {
  background-color: lightgrey;
  /* center page contents horizontally & vertically */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  text-align: center;
}

p {
  text-align: right;
  font-size: 0.8rem;
  margin: 0.5rem;
  min-height: 1rem;
}

.btn {
  /* max-width: 30px; */
  height: 2.3rem;
  font-weight: bold;
}

#calcScreen {
  margin-bottom: 20px;
  margin-right: 0px;
  text-align: right;
  height: 4rem;
  font-size: 1.2rem;
  width: calc(100% - 5px);
}

.container {
  min-width: 270px;
  /* margin: 0 auto; */

  background-color: white;
  border: 2px solid black;
  padding: 20px 20px 40px 20px;
  box-shadow: 0 0 2px 2px #000000;
}

.btnsContainer {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-areas:
    "Del Del Del Del"
    /* "x y z m" */
    "C divide mul minus"
    "seven eight nine plus"
    "four five six plus"
    "one two three eq"
    "zero zero dot eq";
  gap: 15px;
}

.clr.btn {
  grid-area: C;
}

.del.btn {
  grid-area: Del;
}

.eq.btn {
  grid-area: eq;
  height: 5.5rem;
}

.digit[value="0"] {
  grid-area: zero;
  /* grid-auto-flow: row; */
}

.digit[value="1"] {
  grid-area: one;
}

.digit[value="2"] {
  grid-area: two;
}

.digit[value="3"] {
  grid-area: three;
}

.digit[value="4"] {
  grid-area: four;
}

.digit[value="5"] {
  grid-area: five;
}

.digit[value="6"] {
  grid-area: six;
}

.digit[value="7"] {
  grid-area: seven;
}

.digit[value="8"] {
  grid-area: eight;
}

.digit[value="9"] {
  grid-area: nine;
}

.digit[value="."] {
  grid-area: dot;
}

.op[value="+"] {
  grid-area: plus;
  height: 5.5rem;
}

.op[value="-"] {
  grid-area: minus;
}

.op[value="*"] {
  grid-area: mul;
}

.op[value="/"] {
  grid-area: divide;
}

.op[value="x"] {
  grid-area: x;
}

.op[value="y"] {
  grid-area: y;
}

.op[value="z"] {
  grid-area: z;
}

.op[value="m"] {
  grid-area: m;
}

.copyright {
  text-align: center;
  font-size: 0.9rem;
  margin-top: 2rem;
}

/* From: https://www.w3schools.com/howto/howto_css_modals.asp */

.historyDlg {
  /* Hidden by default */
  display: none;
  /* Stay in place */
  position: fixed;
  /* Sit on top */
  z-index: 1;
  left: 0;
  top: 0;
  /* Full width */
  width: 100%;
  /* Full height */
  height: 100%;
  /* Enable scroll if needed */
  overflow: auto;
  /* Fallback color */
  background-color: rgb(0, 0, 0);
  /* Black w/ opacity */
  background-color: rgba(0, 0, 0, 0.4);
}

.historyDlgContent {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 2px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
}

@media screen and (max-width: 480px) {
  .historyDlgContent {
    width: 100%;
  }
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.historyDlgContent li::marker {
  font-weight: bold;
}
